# Tarefa 02

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [2]:
# 1) Seu código aqui

quantidadeQuestoesMateria = {'mat':24,'por':18,'geo':8,'ing':8,'his':8,'fis':12,'qui':12}

acertosAlunoMat = (df_mat / quantidadeQuestoesMateria['mat'])*100

acertosAlunoPor = (df_por / quantidadeQuestoesMateria['por'])*100

acertosAlunoGeo = (df_geo / quantidadeQuestoesMateria['geo'])*100

acertosAlunoIng = (df_ing / quantidadeQuestoesMateria['ing'])*100

acertosAlunoHis = (df_his / quantidadeQuestoesMateria['his'])*100

acertosAlunoFis = (df_fis / quantidadeQuestoesMateria['fis'])*100

acertosAlunoQui = (df_qui / quantidadeQuestoesMateria['qui'])*100

In [3]:
# 2) Seu código aqui
totalAcertosAluno = df_fis + df_geo + df_ing + df_mat + df_por + df_qui + df_his

totalAcertosAluno

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [4]:
# 3) Seu código aqui

listaQuantidadeTotalQuestoes = pd.DataFrame.from_dict(quantidadeQuestoesMateria,orient='index')

listaQuantidadeTotalQuestoes.sum(0)

percentualGeralAluno = (totalAcertosAluno / int(listaQuantidadeTotalQuestoes.sum(0)))*100

percentualGeralAluno

    Qt_acertos
0    38.888889
1    53.333333
2    55.555556
3    35.555556
4    33.333333
..         ...
95   37.777778
96   30.000000
97   44.444444
98   44.444444
99   46.666667

[100 rows x 1 columns]

In [5]:
# 4) Seu código aqui
QuantidadeAlunosAcima45 = int(totalAcertosAluno[totalAcertosAluno['Qt_acertos'] > 45].count())
QuantidadeAlunosAcima45

31

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [6]:
# seu código aqui

# desqualificados
zeroMat = df_mat[df_mat['Qt_acertos'] == 0]

zeroFis = df_fis[df_fis['Qt_acertos'] == 0]

zeroQui = df_qui[df_qui['Qt_acertos'] == 0]

desqualificados = zeroMat + zeroFis + zeroQui


desqualificados = pd.DataFrame({'Aluno':(zeroMat + zeroFis + zeroQui).index})

desqualificados

    Aluno
0       3
1       6
2      10
3      12
4      14
5      20
6      25
7      26
8      27
9      33
10     35
11     49
12     56
13     65
14     66
15     72
16     73
17     74
18     84
19     89
20     92
21     94
22     98

In [7]:
# quantidade de desqualificados

qtdeDesqualificados = int(desqualificados.count())

print(f'Foram desqualificados {qtdeDesqualificados} alunos por zerarem em matemática, física ou química')

Foram desqualificados 23 alunos por zerarem em matemática, física ou química

In [8]:
# média em geografia e historia

hisGeo = pd.DataFrame({'Geografia':acertosAlunoGeo['Qt_acertos'],'História':acertosAlunoHis['Qt_acertos']})

desqualificadosHisGeo = desqualificados.join(hisGeo,on=None,how='left')

mediaGeoDesqualificados = desqualificadosHisGeo['Geografia'].mean()
mediaHisDesqualificados = desqualificadosHisGeo['História'].mean()

print(f'Os {qtdeDesqualificados} alunos desqualificados por zerarem em matemática, física e química tiveram média de {mediaGeoDesqualificados} % em Geografia e {mediaHisDesqualificados} % em história')

Os 23 alunos desqualificados por zerarem em matemática, física e química tiveram média de 39.67391304347826 % em Geografia e 36.41304347826087 % em história

In [9]:
# Alunos que passaram para segunda fase 
# Alunos que obtiveram mais de 45 acertos e não zeram as provas de matermática ou física ou química

alunos = pd.DataFrame({'Mat':df_mat['Qt_acertos'],'Por':df_por['Qt_acertos'],'Geo':df_geo['Qt_acertos'],'Ing':df_ing['Qt_acertos'],'His':df_his['Qt_acertos'],'Fis':df_fis['Qt_acertos'],'Qui':df_qui['Qt_acertos'],'Total':totalAcertosAluno['Qt_acertos']})
                      
alunosMais45Acertos = pd.DataFrame(alunos[alunos['Total']> 45])

alunosSegundaFase = alunosMais45Acertos[(alunosMais45Acertos.Total > 45) & ((alunosMais45Acertos.Fis > 0)&(alunosMais45Acertos.Mat > 0)&(alunosMais45Acertos.Qui > 0))]

alunosSegundaFase

    Mat  Por  Geo  Ing  His  Fis  Qui  Total
1    19   10    0    0    0   11    8     48
2    14   16    0    5    7    4    4     50
5    20    2    5    3    2    9    9     50
7    18    4    4    7    7    1    8     49
8    22    9    2    7    6    5    7     58
17   21   15    2    2    4    2    6     52
18   20    4    3    5    3   11    4     50
24   20    2    7    5    3   11    2     50
31   15   13    3    1    3    9   10     54
36   22    9    6    6    1    4    8     56
37   19   12    5    7    1    6    2     52
39    4   16    2    4    6    9    8     49
40   18    3    6    3    6    5    6     47
42   20    6    7    7    2    3    3     48
45   17   10    0    2    6    9    4     48
48   17    6    0    7    5    9   11     55
60   16    8    0    4    4    7    9     48
62   17    6    2    4    7    1    9     46
67   21    0    7    2    4    2   10     46
70   21   14    0    3    5   11    8     62
71   17    8    7    6    4    2    9     53
77   15    2    5    7    6   11    7     53
78   14   16    7    2    7   11    9     66
81   22   16    2    0    4    1   10     55
88   20    1    1    5    7    9    7     50
93   12   16    5    5    6    6    6     56

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?

In [10]:
#indisponível
#arquivo = 'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv'

arquivo2 = 'https://d26692udehoye.cloudfront.net/SIPNI/COVID/uf/uf%3DAC/part-00001-9ec95c56-ab53-40f4-995d-5e1d28261a23.c000.csv'

In [12]:
# 1) Sua solução aqui

fonte1 = pd.read_csv(arquivo2,delimiter=';',low_memory =False)

In [13]:
fonte1.head(n=10)
fonte1.dtypes

document_id                                  object
paciente_id                                  object
paciente_idade                                int64
paciente_dataNascimento                      object
paciente_enumSexoBiologico                   object
paciente_racaCor_codigo                       int64
paciente_racaCor_valor                       object
paciente_endereco_coIbgeMunicipio            object
paciente_endereco_coPais                     object
paciente_endereco_nmMunicipio                object
paciente_endereco_nmPais                     object
paciente_endereco_uf                         object
paciente_endereco_cep                        object
paciente_nacionalidade_enumNacionalidade     object
estabelecimento_valor                         int64
estabelecimento_razaoSocial                  object
estalecimento_noFantasia                     object
estabelecimento_municipio_codigo              int64
estabelecimento_municipio_nome               object
estabelecimento_uf                           object
vacina_grupoAtendimento_codigo                int64
vacina_grupoAtendimento_nome                 object
vacina_categoria_codigo                     float64
vacina_categoria_nome                        object
vacina_lote                                  object
vacina_fabricante_nome                       object
vacina_fabricante_referencia                 object
vacina_dataAplicacao                         object
vacina_descricao_dose                        object
vacina_codigo                                 int64
vacina_nome                                  object
sistema_origem                               object
dtype: object

In [14]:
#Quantas vacinas estão registradas nessa base?
#Considerando que cada id é único
qtdeVacinasBase = int(len(fonte1.document_id))
qtdeVacinasBase

405424

In [15]:
# 2) Pacientes Vacinados
qtdePessoasVacinadas = int(len(fonte1.groupby('paciente_id').size()))
qtdePessoasVacinadas

331705

In [35]:
# 3) Quantos pacientes únicos tomaram a primeira dose
# Todos os pacientes que tomaram a segunda dose é porque ja tomaram a primeira
len(fonte1.paciente_id.unique())

331705

In [36]:
# 3) solução alternativa

In [32]:
# 4) Quantos pacientes com menos de 18 anos foram vacinados?
paciente_id = pd.DataFrame(fonte1.paciente_id.unique())

juncao = paciente_id.join(fonte1,how='left')
pacientesMenores18Anos = len(juncao[juncao['paciente_idade'] < 18])
pacientesMenores18Anos

39468

# 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [143]:
# 5)Quantos estabelecimentos aplicaram vacina no Acre

qtdeEstabelecimentosVacina = len(fonte1.estabelecimento_valor.drop_duplicates())

qtdeEstabelecimentosVacina

#listaestabelecimentos = fonte1.groupby('estabelecimento_valor').size().sort_values(ascending=False)

#listaestabelecimentos

131

In [18]:
# 1) 
vacinasMenores18Anos = pd.DataFrame(fonte1[fonte1.paciente_idade < 18])
vacinasMenores18Anos.head(n=10)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
4,4210a2d7-3e84-4711-99fd-695c0edb6356-i0b0,afa281d864b0ee704d763754cd8c4c3bb168cc9ff98ed3...,15,2006-05-19,F,4,AMARELA,120030,10,FEIJO,...,2.0,Faixa Etária,FG3525,PFIZER,Organization/00394544000851,2021-11-22,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
20,170f1fba-47bb-435e-b5c3-26cb658da1cf-i0b0,d90f0f2942a4947a048692f5f61e5e549ac43b86d0bd0d...,14,2007-05-07,F,1,BRANCA,120017,10,CAPIXABA,...,2.0,Faixa Etária,FF8848,PFIZER,Organization/28290,2021-11-19,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
31,07dfd00a-9b65-4b85-860b-304db13a9ec4-i0b0,f2da2c4f8dc6d93ef97c070d357c67d015ecf2e583647a...,17,2004-02-02,M,3,PARDA,120020,10,CRUZEIRO DO SUL,...,114.0,Outros,FA9096,PFIZER,Organization/00394544000851,2021-07-31,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
44,00b9dc2f-cedd-47e8-b153-45313ba3e5a4-i0b0,219bbfbf89b70a22abc73f08b9c38b6cffab48a35fd9c1...,13,2008-03-17,M,3,PARDA,120033,10,MANCIO LIMA,...,2.0,Faixa Etária,32010BD,PFIZER,Organization/28290,2021-12-19,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
56,718c6792-8c23-4999-9c24-2c380c4b6acf-i0b0,17ae13272822b0d7724f6b49f1501fb2a3d5811ee37f04...,17,2004-08-19,F,3,PARDA,120060,10,TARAUACA,...,6.0,Povos e Comunidades Tradicionais,FF8848,PFIZER,Organization/00394544000851,2021-11-07,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
58,b2e8c1a1-4ebd-41ca-baaf-b8571fa7c372-i0b0,25dfb2458063d7f74acedc0393f75beff273929d6dcb32...,17,2003-12-24,M,99,SEM INFORMACAO,120042,10,RODRIGUES ALVES,...,2.0,Faixa Etária,FD7208,PFIZER,Organization/00394544000851,2021-09-24,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
59,0bb823d8-3d01-4d0b-9442-4b9978ee8c02-i0b0,d226f38712102ea3c7bca6493120c7026abf4a285ccb70...,17,2004-05-28,F,3,PARDA,120020,10,CRUZEIRO DO SUL,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-08-09,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
67,0c2bc56b-7f8a-4ab5-b1ef-397007f70065-i0b0,828ef99b477ca84164b2056e72db62ccecbe88e0f2a3ab...,15,2006-03-02,M,3,PARDA,120040,10,RIO BRANCO,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-08-06,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
74,76b16dc2-58a7-455e-9f64-f544fa5099f7-i0b0,9c6a69d5407ceb2dd5c69fb2b79f5a1391ad1287c091e4...,12,2009-04-10,F,4,AMARELA,120050,10,SENA MADUREIRA,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-08-11,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
88,63f6a892-d2c4-4893-ab4e-7714366106cd-i0b0,f0780e6d69c85bd268b2e5b4e695d7a15c357f2e36818f...,17,2003-12-04,F,3,PARDA,120020,10,CRUZEIRO DO SUL,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-08-12,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

In [19]:
# 2) 
colunas = list(vacinasMenores18Anos.columns)
colunas

['document_id',
 'paciente_id',
 'paciente_idade',
 'paciente_dataNascimento',
 'paciente_enumSexoBiologico',
 'paciente_racaCor_codigo',
 'paciente_racaCor_valor',
 'paciente_endereco_coIbgeMunicipio',
 'paciente_endereco_coPais',
 'paciente_endereco_nmMunicipio',
 'paciente_endereco_nmPais',
 'paciente_endereco_uf',
 'paciente_endereco_cep',
 'paciente_nacionalidade_enumNacionalidade',
 'estabelecimento_valor',
 'estabelecimento_razaoSocial',
 'estalecimento_noFantasia',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf',
 'vacina_grupoAtendimento_codigo',
 'vacina_grupoAtendimento_nome',
 'vacina_categoria_codigo',
 'vacina_categoria_nome',
 'vacina_lote',
 'vacina_fabricante_nome',
 'vacina_fabricante_referencia',
 'vacina_dataAplicacao',
 'vacina_descricao_dose',
 'vacina_codigo',
 'vacina_nome',
 'sistema_origem']

In [29]:
# 3)
contagemVacinaCategoriaNome = pd.DataFrame(vacinasMenores18Anos.groupby('vacina_categoria_nome').size().sort_values(ascending=False), columns=['Qtde'])
contagemVacinaCategoriaNome

                                                 Qtde
vacina_categoria_nome
Faixa Etária                                    38928
Outros                                           5328
Povos Indígenas                                   505
Povos e Comunidades Tradicionais                  206
Trabalhadores de Saúde                             79
População Privada de Liberdade                     46
Comorbidades                                       32
Gestantes                                          24
Pessoas com Deficiência                             2
Puérperas                                           2
Pessoas de 60 anos ou mais institucionalizadas      1
Trabalhadores da Educação                           1

In [73]:
# 4) a partir da lista de colunas, 
#     escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores

colunasEstabelecimento = []

for estabelecimento in colunas:
    if estabelecimento.startswith('estabelecimento'):
        colunasEstabelecimento.append(estabelecimento)

colunasEstabelecimento

['estabelecimento_valor',
 'estabelecimento_razaoSocial',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf']

In [151]:
# 5) usando o método .loc, selecione somente essas variáveis


estabelecimentoColunas = fonte1.loc[:,colunasEstabelecimento]
estabelecimentoColunas

,estabelecimento_valor,estabelecimento_razaoSocial,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
0,6612385,PREFEITURA MUNICIPAL DE TARAUACA,120060,TARAUACA,AC
1,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,120040,RIO BRANCO,AC
2,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,120040,RIO BRANCO,AC
3,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,120040,RIO BRANCO,AC
4,3544915,PREFEITURA MUNICIPAL DE FEIJO,120030,FEIJO,AC
...,...,...,...,...,...
405419,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,120040,RIO BRANCO,AC
405420,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,120040,RIO BRANCO,AC
405421,3810771,PREFEITURA MUNICIPAL DE TARAUACA,120060,TARAUACA,AC
405422,2001349,PREFEITURA MUNICIPAL DE BRASILEIA,120010,BRASILEIA,AC
405423,3006166,PREFEITURA MUNICIPAL DE ACRELANDIA,120001,ACRELANDIA,AC

In [154]:
# 6)
estabelecimentosVacinasAC= estabelecimentoColunas.drop_duplicates()
estabelecimentosVacinasAC

,estabelecimento_valor,estabelecimento_razaoSocial,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
0,6612385,PREFEITURA MUNICIPAL DE TARAUACA,120060,TARAUACA,AC
1,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,120040,RIO BRANCO,AC
4,3544915,PREFEITURA MUNICIPAL DE FEIJO,120030,FEIJO,AC
7,2002922,SECRETARIA MUNICIPAL DE SAUDE,120038,PLACIDO DE CASTRO,AC
8,2000660,PREFEITURA MUNICIPAL DE SENADOR GUIOMARD,120045,SENADOR GUIOMARD,AC
...,...,...,...,...,...
165309,3393984,PRFEITURA MUNICIPAL DE ACRELANDIA,120001,ACRELANDIA,AC
184649,9294449,PREFEITURA MUNICIPAL DE SENADOR GUIOMARD,120045,SENADOR GUIOMARD,AC
222920,2000741,MUNICIPIO DE RIO BRANCO,120040,RIO BRANCO,AC
293650,115606,K M OLIVEIRA EIRELI,120020,CRUZEIRO DO SUL,AC
322186,6119697,MUNICIPIO DE RIO BRANCO,120040,RIO BRANCO,AC